html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/*
===============
Variables
===============
*/
.dark-theme {
  --body-bcg: #18191a;
  --body-font: #f5f6f7;
  --nav-bcg: #242526;
  --nav-font: #f5f6f7;
  --footer-bcg: #1c1e21;
  --footer-font: #f5f6f7;
}
.light-theme {
  --body-bcg: #ffffff;
  --body-font: #1c1e21;
  --nav-bcg: #ffffff;
  --nav-font: #606770;
  --footer-bcg: #f5f6f7;
  --footer-font: #606770;
}

:root {
  /* main colors */
  --clr-purple: #764abc;
  --clr-grey-light: #ebedf0;
  --clr-grey-dark: #d4d5d8;
  --clr-black-bcg: #111111;
  --clr-grey-bcg: #f5f6f7;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: #617d98;
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(207, 36%, 95%);
  /* other colors */
  --clr-white: #ffffff;
  --clr-black: #1c1e21;
  /* font families */
  --ff-primary: 'Work Sans', sans-serif;
  --ff-secondary: 'Caveat', cursive;
  --ff-tertiary: 'Libre Baskerville', serif;
  /* transitions */
  --transition: all 0.2s linear;
  --long-transition: all 1.5s ease;
  /* spacing */
  --spacing: 0.1rem;
  /* radius */
  --radius: 0.5rem;
  /* box shadow */
  --light-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  /* width */
  --max-width: 1120px;
}

/*
  ===============
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--body-bcg);
  color: var(--body-font);
  line-height: 1.5;
  font-size: 0.95rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 500;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 0.95rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--body-font);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.2;
  }
}

/* 
========
NAVBAR
========
*/

.nav {
  background: var(--nav-bcg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 1px 0.5px 0.5px var(--body-bcg);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.25rem;
  margin-bottom: 0;
}
.nav-btn {
  width: 1.8rem;
  height: 0.15rem;
  margin: 6px 0;
  background: var(--body-font);
}
.nav-logo img {
  width: 1.8rem;
}
.nav-logo h4 {
  font-weight: bold;
  color: var(--clr-purple);
  margin-bottom: 0;
}
.nav-logo h4:hover {
  color: var(--body-font);
}
.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  align-self: center;
  margin-right: 2rem;
}

.nav-col2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: none;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  color: var(--nav-font);
  font-weight: bold;
  margin-right: 2rem;
}
.nav-link:hover {
  color: var(--clr-purple);
}

.search {
  background: var(--footer-bcg);
  padding: 6px 9px;
  display: flex;
  align-items: center;
  height: 2.2rem;
  margin-bottom: 0;
  border-radius: 2rem;
  width: 2.2rem;
  margin-top: 0;
}
.search:hover {
  border: 2px solid var(--clr-purple);
  background: var(--body-bcg);
}

.search input {
  background: transparent;
  outline: none;
  border: none;
  margin-left: 0.4rem;
  width: 4.8rem;
  margin-top: 5px;
  display: none;
}
.search input::placeholder {
  font-size: 1rem;
  color: #969faf;
}
.search button {
  color: #969faf;
  box-shadow: var(--light-shadow);
  outline: none;
  border: 1px solid #d5dbe4;
  background: linear-gradient(#d5dbe4, #f8f8f8);
  border-radius: 3px;
  margin-right: 0.4rem;
  padding: 2px;
  width: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5rem;
  height: 1.4rem;
  display: none;
}

#toggle-btn {
  background: #4d4d4d;
  outline: none;
  border: none;
  width: 3rem;
  margin-right: 1.5rem;
  border-radius: 1.25rem;
  height: 1.5rem;
  font-size: 1rem;
  vertical-align: middle;
  position: relative;
  text-align: right;
  padding: 0 4px;
  cursor: pointer;
}
#toggle-emoji {
  position: absolute;
  font-size: 1.5rem;
  top: -10%;
  left: -10%;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: var(--clr-white);
  border: 3px solid rgb(52, 169, 236);
}

@media screen and (min-width: 750px) {
  .search {
    width: 11rem;
  }
  .search input {
    display: inline;
  }
  .search button {
    display: inline;
  }
}
/* 
========
AD-BOX
========
*/

.ad-box {
  background: var(--clr-black-bcg);
  color: var(--clr-white);
  text-transform: capitalize;
  margin: 60px auto 0;
  padding: 8px 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.ad-box p {
  color: var(--clr-white);
  line-height: 1;
  margin-bottom: 0;
}
.ad-box #sp-text {
  border: 1px solid;
  padding: 1rem 1.5rem;
  margin-left: 0.5rem;
}
.ad-box #sp-text:hover {
  text-decoration: underline;
}

@media screen and (max-width: 490px) {
  .ad-box {
    flex-direction: column;
  }
  p {
    margin-top: 8px;
  }
}

/* 
========
BANNER
========
*/
.banner {
  background: var(--clr-purple);
  color: var(--clr-white);
  text-transform: capitalize;
  text-align: center;
  padding: 2.5rem 4rem 2rem;
}
.banner-title {
  font-weight: bold;
}
.banner-subtitle {
  margin: 1.3rem auto;
}
.banner-btn {
  color: var(--clr-black);
  background: var(--clr-grey-light);
  padding: 0.7rem 2.2rem;
  display: inline-block;
  transition: var(--transition);
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.35rem;
  text-align: center;
}
.banner-btn:hover {
  background: var(--clr-grey-dark);
}
@media screen and (min-width: 964px) {
  .banner {
    padding: 4rem 4rem;
  }
  .banner-subtitle {
    margin: 1.75rem auto;
  }
}

/* 
========
SERVICES
========
*/

.services {
  padding: 2rem 1rem;
  display: grid;
  row-gap: 0;
  max-width: var(--max-width);
  margin: 0 auto;
}
.service h1 {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  font-size: 6rem;
  text-align: center;
}
.service h3 {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin: 1rem auto;
}

/* 
========
INFO
========
*/
.info {
  padding: 2rem 2rem 3rem;
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
}
.info h3 {
  font-weight: bold;
}
.info-center {
  margin-top: 1.5rem;
  display: grid;
  row-gap: 1.1rem;
}
.info-title a {
  font-weight: bold;
  color: var(--clr-purple);
  text-transform: capitalize;
}
.info-title:hover {
  text-decoration: underline;
}
.info-title i {
  font-size: 1.1rem;
}
.info-text {
  max-width: 28rem;
  margin: 0 auto;
}

/* 
========
FOOTER
========
*/

.footer {
  padding: 2rem 1.25rem;
  background: var(--footer-bcg);
}
.footer-links {
  display: grid;
  row-gap: 2.5rem;
  max-width: var(--max-width);
  margin: 0 auto;
}
.footer-links h4 {
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}
.links p {
  line-height: 1;
  text-transform: capitalize;
}
.links p a {
  color: var(--footer-font);
}
.links p a:hover {
  color: var(--clr-purple);
  text-decoration: underline;
}
.links img {
  width: 8rem;
  margin-top: -0.8rem;
}

.footer-logo {
  width: 2.75rem;
  margin: 0 auto;
  margin-top: 3.5rem;
  opacity: 0.6;
  transition: var(--transition);
}
.footer-logo:hover {
  opacity: 1;
}
.footer-text {
  text-align: center;
  margin-top: 1.35rem;
  margin-bottom: 0;
  color: var(--footer-font);
}

/* 
========
MEDIA QUERY
========
*/

@media screen and (min-width: 996px) {
  .nav-center {
    padding: 1rem 2rem;
  }
  .nav-logo {
    width: 5.5rem;
  }
  .nav-logo span {
    display: none;
  }
  .nav-links {
    display: flex;
  }
  .ad-box {
    margin-top: 70px;
  }
  .services {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
  .info-center {
    grid-template-columns: 1fr 1fr;
  }
  .footer-links {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0;
    padding: 0 1.25rem;
  }
}
